@use './mixins/typography' as typography;
@use './variables/colors' as colors;


.button {
  @include typography.size(h4);
  @include typography.font(semibold);
  text-align: center;
  min-width: 18rem;
  background-color: colors.$red;
  color: colors.$white;
  padding: 0.8rem 1.1rem;
  line-height: 1;
  cursor: pointer;
  display: inline-block;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  border-radius: 0.5rem;
  border: 0.2rem solid transparent;
  &:hover { background-color: colors.$darkred; }
  &--resume {
    text-decoration: none;
    background-color: transparent;
    &:hover { background-color: transparent !important; }
  }
}

.submit-form {
  display: block;
  margin: 0 auto;
  margin-top: 3rem;
}
