@use './mixins/typography' as typography;
@use './variables/colors' as colors;
@import url('https://fonts.googleapis.com/css?family=Concert+One');

.header {
  background: colors.$darkblue;
  display: flex;
  align-items: center;
  justify-content: space-around;
  &__item {
    margin: 1rem;
    display: flex;
    align-items: flex-end;
    &--name {
      font-weight: 700;
      @include typography.size(h2);
      font-family: 'Concert One', cursive;
    }
    &--link {
      cursor: pointer;
      @include typography.size(body);
      margin-right: 2rem;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
