@use './variables/breakpoints' as breakpoint;
@use './mixins/breakpoints' as breakpoint_func;

.skillscontainer {

  &__content {
    display: flex;
    flex-wrap: wrap;

    @include breakpoint_func.breakpoint(breakpoint.$mobile-lg) {
        justify-content: space-around;
    }
  }
}
