@use './variables/breakpoints' as breakpoint;
@use './mixins/breakpoints' as breakpoint_func;

.timelinerow {
  padding: 1rem;
  display: flex;
  margin-bottom: 1rem;
  &--left {
    width: 50%;
    max-width: 30rem;

    @include breakpoint_func.breakpoint(breakpoint.$mobile-md) {
      min-width: 15rem;
    }
  };

  &--right {
    max-width: 50rem;
    @include breakpoint_func.breakpoint(breakpoint.$mobile-md) {
      margin-left: 1.5rem;
    }
    &--list {
      list-style: circle;
      &--item {
        margin-bottom: 0.5rem;
      }
    }
  }
}
