@use './variables/breakpoints' as breakpoint;
@use './mixins/breakpoints' as breakpoint_func;

.transition {
    font-style: italic;
    font-weight: 700;
    text-align: center;
    margin: 2rem 0rem;
    @include breakpoint_func.breakpoint(breakpoint.$mobile-lg) {
        margin: 2rem;
    }
}