@import "../mixins/mixins.index";

html {
  @include font(regular);
  font-size: 10px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// font sizes
body {
  @include size(body);
}

h1 {
  @include size(h1);
}

h2 {
  @include size(h2);
}

h3 {
  @include size(h3);
}

h4 {
  @include size(h4);
}

strong { @include font(semibold); }
p { margin-bottom: 1rem; }
a { text-decoration: none; }

sup {
  vertical-align: super;
  font-size: smaller;
}

sub {
  @include font(regular);
  font-size: 0.6em;
  padding-left: 0.3rem;
}

blockquote {
  padding-left: 3rem;
  border-left: 0.1rem solid $black;
}
